<!--########### NAV BAR STARTS HERE ##################################################### -->

<nav class="navbar navbar-expand-sm  bg-primary navbar-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Anil</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a routerLink="admin" routerLinkActive="active" class="nav-link" href="admin">ADMIN</a>
          </li>
          <li class="nav-item">
            <a routerLink="agent" routerLinkActive="active" class="nav-link" href="agent">AGENT</a>
          </li>
          <li class="nav-item">
            <a routerLink="user" routerLinkActive="active" class="nav-link" href="user">AGENT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  
  <!-- #####################NAV BAR ENDS HERE ############################################### -->
  
  <!-- MAIN CONTENT HERE -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  
  <footer class="footer">
    <div class="container">
      <span>Contact to Anil@123 | 6363069552</span>
    </div>
  </footer>
